/*  --------- Global */

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #0172bb;
}

section {
    margin-bottom: 50px;
}

.heading {
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    margin: 50px 0;
}

.subheading {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}

.icon {
    font-size: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

/*  --------- Colors */

.light {
    color:#eaeaea;
}

.bg-light {
    background-color: #eaeaea;
}

.blue {
    color:#0172bb;
}

.bg-blue {
    background-color: #0172bb;
}


/*  -----------   Nav */

.logo {
    display: inline-block;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    align-items: baseline;
    list-style-type: none;
}

ul li {
    padding: 0 20px;
}



li a {
    text-decoration: none;
    color: #0172bb;
    font-size: 16px;
    font-weight: 700;
}

.callout {
    display: flex;
    justify-content: space-between;
    background-color: #eec802;
    color: #856404;
    padding: 5px 15px;
    margin-top: 0;
    margin-bottom: 10px;
    border-radius: 2%;
}

.callout-txt {
    font-size: 16px; 
    margin: 5px auto;
}

.hero-section {
    justify-content: center;
}

.hero-image {
    background: url("../images/carousel-img1.jpg") center center no-repeat;
    overflow: hidden;
    width: 100%;
    max-width: 85%;
    height: 500px;
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 80%;
    margin: 0 auto; 
}

.grid-sm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20px;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
}

.card {
    border-radius: 8px;
    border: 1px solid #eaeaea;
    box-shadow: 0 0.5rem 1.2rem rgba(0, 0, 0, .2);
    padding: 0.75rem 1.25rem;
    text-align: center;
}

button {
    border-radius: 8px;
    border: 1px solid #0172bb;
    background-color: #0172bb;
    padding: 10px;
    justify-content: center;
}

button a {
    text-decoration: none;
    color: #eaeaea;
}

footer p {
    margin: 6px;
    
}

footer {
    background-color: #0172bb;
    color: #eaeaea;
    padding-top: 20px;
    padding-bottom: 50px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 80%;
    margin-left: 15%;
}

.footer-subheading {
    font-weight: 600;
    font-size: 20px;
}

#copyright {
    text-align: center;
}

.map {
    width: 100%;
    object-fit: contain;
}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .grid-sm {
        grid-template-columns: 1fr;
    }

    .footer-grid {
        grid-template-columns: 1fr;
    }
}